* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

#__nuxt {
  height: inherit;
}